@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

header.glass {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

form.glass {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

main {
  height: calc(100% - 86px);
  position: fixed;
  width: 100%;
  top: 86px;
  padding-top: 0.5rem;
  padding-bottom: 0rem;
}

.messages-container {
  height: calc(100% - 5px);
  padding: 0 0.5rem 6rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

.messages-container::-webkit-scrollbar {
  width: 6px;
}

.messages-container::-webkit-scrollbar-track {
  background: transparent;
}

.messages-container::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}